@import '../../styles/colors.scss';

.header {
    height: 60px;
    background-color: $blue;
    color: $white;
    display: flex;
    justify-content: space-between;
    &__logo {
        display: flex;
        padding-left: 1em;
        font-size: 1.5em;
        text-shadow: 0.1em 0.1em $black;
        justify-content: center;
        align-items: center;
    }
    &__list-right {
        padding: 0 1em;
        margin: 0;
        display: flex;
        &__item {
            padding: 0 1em;
            cursor: pointer;
            height: 100%;
            &:hover {
                background-color: $light-blue;
            }
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 50px;
        }
    }
}